#signupAlert{
    
    display: none;
    
}

#loginAlert{
    
    display: none;
    
}

.tweet {
    
    border: 0px solid #F8F9FA;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    
}