#signupAlert{
    
    display: none;
    
}

#loginAlert{
    
    display: none;
    
}

.tweet, .user {
    
    border: 0px solid #F8F9FA;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    
}

#tweetFail{
    
    display: none;
    
}

#tweetSuccess{
    
    display: none;
    
}

#deleteFail{
    
    display: none;
    
}

#deleteSuccess{
    
    display: none;
    
}