#signupAlert{
    
    display: none;
    
}

#loginAlert{
    
    display: none;
    
}

.tweet {
    
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    
}