.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
    float: left;
}

#red-circle {
    background-color: red;
}

#blue-circle {
    background-color: blue;
}

#green-circle {
    background-color: green;
}